nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
			a.navbar-brand(href='/') Грузовой пропуск
			ul.nav.navbar-nav
				li.nav-item.active
					a.nav-link(href='#')
						| Физическое лицо 
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='#') Юридическое лицо
				li.nav-item
					a.nav-link(href='#') Все договоры